// Main Page

.hero-title {
  font-size: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'Oswald', sans-serif;
  // background-image: url("https://images.pexels.com/photos/1149019/pexels-photo-1149019.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  color: rgb(7, 4, 6);
  // text-shadow: 2px 2px #f70098;
  // width: auto;
  // height: auto;
}

// Index Page

.hero-index-page {
  padding-top: 60px;
  // background-image: url('https://res.cloudinary.com/difzbdm7n/image/upload/v1627477025/Screenshot_2021-07-28_at_13.56.57_yfof4c.png');
  padding-bottom: 60px;
  font-family: 'Oswald', sans-serif;
}

.navbar-expand {
  font-family: 'Oswald', sans-serif;
  background: white;
} 

.filter-index-page{
  padding: 25px;
}

.list-group-item {
  border-radius: 30px;
}

.outline-info {
  margin: auto;
}

.card-image {
  height:395px;
  width:262px;
}

.header-outfit-show{
  padding-top: 35px;
  padding-bottom: 40px;
}

.accordion-item{
  margin:40px;
}

.price {
  margin:30px;
}

//Basket page

.item-img {
  height: 220px;
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.basket-item-name {
  padding-top: 30px;
}

.basket-title {
  padding-top: 20px;
  padding-left: 35px;
}

.price-basket {
  padding-top: 30px;
}

.size-input-area {
  padding-top: 100px;
}

// Cards

.card {
  border: 20px;
}

//individual outfit

.individ-image{
  padding-top: 30px;
  height: 580px;
  width: 300px;
}