// nav bar 
.navbar-expand {
  font-family: 'Oswald', sans-serif;
  background: white;
  font-size: 20px;
} 

.nav-link {
  color: #8a42f5;
}

.hero-under-text{
  // margin: 50px ;
  font-size: 23px;
  color: #000000;
  padding:80px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}

.hero-index-page {
  padding-top: 60px;
  // background-image: url('https://res.cloudinary.com/difzbdm7n/image/upload/v1627477025/Screenshot_2021-07-28_at_13.56.57_yfof4c.png');
  padding-bottom: 60px;
  font-family: 'Oswald', sans-serif;
}

.hero-title{
  min-height:400px;
}

// Main Page

.hero-title {
  font-size: 120px;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'Oswald', sans-serif;
  color: rgb(248, 248, 248);
}

.home {
  background: black;
}

.home-second-part{
  // background-image: url('https://images.pexels.com/photos/266526/pexels-photo-266526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 180px;
}

// Index Page





.filter-index-page{
  padding: 25px;
}

.list-group-item {
  border-radius: 30px;
}

.outline-info {
  margin: auto;
}

.card-image {
  height:395px;
  width:262px;
}

.header-outfit-show{
  padding-top: 35px;
  padding-bottom: 40px;
}

.accordion-item{
  margin:40px;
}

.price {
  margin:30px;
}

//Basket page

.item-img {
  height: 220px;
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.basket-item-name {
  padding-top: 30px;
}

.basket-title {
  padding-top: 20px;
  padding-left: 35px;
}

.price-basket {
  padding-top: 30px;
}

.size-input-area {
  padding-top: 100px;
}

// Cards

.card {
  border: 20px;
}

//individual outfit

.individ-image{
  padding-top: 30px;
  height: 580px;
  width: 300px;
}

//index show page

.confident-show{
  background: rgb(178, 94, 204); padding: 0 10px; 
}

.powerful-show{
  background: rgb(94, 200, 204); padding: 0 10px; 
}

.comfortable-show{
  background: rgb(94, 204, 140); padding: 0 10px; 
}

.jumbotron{
  padding-left: 40px;
}