// Main Page

.hero-title {
  font-size: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: 'Alice', serif;
  // background-image: url("https://images.pexels.com/photos/1149019/pexels-photo-1149019.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  color: black;
}

// Index Page

.hero-index-page {
  padding-top: 60px;
  background: pink;
  padding-bottom: 60px;
}

.filter-index-page{
  padding: 25px;
}

.list-group-item {
  border-radius: 30px;
}

.outline-info {
  margin: auto;
}

